.add{
  position: fixed;
  bottom: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 5px;
  /*z-index: 100;*/
}
.add>mat-icon{
	border-radius: 40%;
}
.go-back{
  position: fixed;
  top: 5%;
  right: 0%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 5px;
  /*z-index: 100;*/
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.title{
	display: flex;
}
.red{
	flex-grow: 1;
}
.half-width{
  width: 50%;
}
.full-width{
  width: 100%;
}
mat-card{
  width: calc(100%);
  height: calc(100%);
}