
<mat-toolbar>Cameras</mat-toolbar>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <!-- Date Added Column -->
    <ng-container matColumnDef="date_added">
      <mat-header-cell *matHeaderCellDef> Date Added </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_added}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>