.add{
  position: fixed;
  bottom: 5%;
  right: 5%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 5px;
  z-index: 100;
}
.add>mat-icon{
	border-radius: 40%;
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.title{
	display: flex;
}
.red{
	flex-grow: 1;
}
.green{

}
.blue{
		
}