  <mat-toolbar> Update camera</mat-toolbar>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="updated_camera.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Model"  name="model" [(ngModel)]="updated_camera.model">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Serial Number"  name="p_serial_number" [(ngModel)]="updated_camera.p_serial_number">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Status" name="status" [(ngModel)]="updated_camera.status">
          <mat-option *ngFor="let name of choice_s" [value]="name.value">
            {{ name.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field> 

<!--     <mat-form-field>
      <mat-select placeholder="Camera Type" name="camera_type" [(ngModel)]="updated_camera.camera_type">
        <mat-option *ngFor="let type of cam_type_list" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <div>
      <button (click)="updateCam();onNoClick()" mat-raised-button style="background-color: #e3e3e3;"> <mat-icon>save</mat-icon> Save</button>
    </div>
  </form>
