mat-toolbar{
	background-color: #e3e3e3;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.main{
	background-color: #000000;
}

.router{
	background-color: #c0ffee;
	min-height: 94.5vh;
}