
<mat-toolbar>Protel Demo</mat-toolbar>

<mat-card class="m-3">
<form>
	<mat-form-field class="example-full-width">
	<input matInput placeholder="Camera Type" name="name" [(ngModel)]="newCamType.name">
	</mat-form-field>
	<button mat-raised-button (click)="newCameraType()" style="background-color: #e3e3e3;">Save</button>
</form>
</mat-card>

<mat-card class="m-3">
<form class="example-form">
	<mat-form-field class="mat-inputs">
		<input matInput placeholder="Name" name="name">
	</mat-form-field>
	<br>
	<mat-form-field class="mat-inputs">
		<input matInput placeholder="Model"  name="lname">
	</mat-form-field>
	<br>
	<mat-form-field>
	  <mat-select placeholder="Status" >
        <mat-option [value]="newCamera.status">Good</mat-option>
        <mat-option >Fair</mat-option>
        <mat-option >Bad</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
	<mat-select placeholder="Camera Type" >
        <mat-option *ngFor="let type of cam_type_list">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

	<div>
		<button (click)="newCamera()" mat-raised-button style="background-color: #e3e3e3;">Save</button>
    </div>
</form>
</mat-card>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>