<!-- <mat-toolbar>Protel Demo</mat-toolbar> -->
<h3 class="mt-2">Cameras</h3>

<div class="row dashbrd">
  <div *ngIf="showdiv" class="col-md-6 row1-col">
    <mat-card>
      <!-- <div class="col-md-12 centering-box width2"> -->
          <!-- [min]="0" 
          [previousValue]="80" -->
          <ngx-charts-linear-gauge 
            [view]="view1" 
            [scheme]="colorScheme" 
            [value]="cam_type_list.length" 
            [max]="cam_type_list.length"  
            [units]="'Total Camera Categories'"
            (select)="onSelect($event)">
          </ngx-charts-linear-gauge>
      <!-- </div> -->
    </mat-card>
  </div>
  <div *ngIf="cameras_list" class="col-md-6 row1-col">
    <mat-card>
      <!-- <div class="col-md-12 centering-box width2"> -->
        <ngx-charts-linear-gauge 
          [view]="view1" 
          [scheme]="colorScheme" 
          [value]="cameras_list" 
          [max]="cameras_list"  
          [units]="'Total Cameras'"
          (select)="onSelect($event)">
        </ngx-charts-linear-gauge>
      <!-- </div> -->
    </mat-card>
  </div>
</div>

<mat-toolbar class="mt-2">Camera Categories</mat-toolbar>
  <div class="mat-elevation-z8 col-md-12">
    <mat-table #table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell routerLink="/camera/{{element.id}}" *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="col-md-12" style="color: white;background-color: #254fac;" (click)="openCamTypeDialog()">
      <small>Add</small>
    </div>
  </div>

<mat-card class="m-3">
  <mat-toolbar> Add a new camera</mat-toolbar>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="newCamDetail.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Model"  name="model" [(ngModel)]="newCamDetail.model">
    </mat-form-field>
    <!-- <mat-form-field> -->
      <!-- <input matInput placeholder="Status"  name="status" [(ngModel)]="newCamDetail.status"> -->
<!--      <mat-select placeholder="Status" name="status" [(ngModel)]="newCamDetail.status">
          <mat-option [value]="Good">Good</mat-option>
          <mat-option [value]="Fair">Fair</mat-option>
          <mat-option [value]="Bad">Bad</mat-option>
        </mat-select>-->
    <!-- </mat-form-field>  -->

    <mat-form-field>
      <mat-select placeholder="Camera Type" name="camera_type" [(ngModel)]="newCamDetail.camera_type">
        <mat-option *ngFor="let type of cam_type_list" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button (click)="newCameraDetail()" mat-raised-button style="background-color: #e3e3e3;">Save</button>
    </div>
  </form>
</mat-card>